ul {
  display: flex;
  flex-direction: column;
  color: black;
  width: 60vw;
  text-align: left;
  padding-left: 0;

  div * {
    margin: 0.1rem 0;
    padding: 0 0.5rem;
    border: 2px solid black;
  }
}

h2 {
  cursor: pointer;
  background-color: #ddd;
}
