{
  "env": {
    "browser": true,
    "mocha": true,
    "node": false
  },
  "globals": {
    "chai": "readonly",
    "mocha": "readonly"
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "rules": {
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/typedef": [
      "error",
      {
        "variableDeclaration": true
      }
    ]
  }
}
