* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Buda, serif;
  font-weight: 300;
  font-style: normal;
}

section {
  padding: 1.5rem 0;
  background-color: #f4f9fb;
}

h2 {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 300;
}

form {
  margin: 0 auto 2rem;
  text-align: center;
}

input,
button {
  height: 3rem;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-family: Rye, serif;
  font-weight: 400;
  font-style: normal;
}

input {
  width: 400px;
  padding: 0.5rem;
  border: 1px solid;
  border-color: #e9f0f2;
  font-weight: 300;
}

button {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: 0.25rem;
  border: none;
  font-weight: 500;
  background-color: #0bdc71;
  color: white;
}
