button {
  font-size: 1.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

thead {
  background-color: black;
  color: white;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #d2d2d2;
}
