* {
  box-sizing: border-box;
  margin: 0;
}

div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 50%;
  height: calc((100vh + 100vw) / 8);
  width: calc((100vh + 100vw) / 8);
  border-width: 0;
}

.day > button {
  background-color: #faea84;
  box-shadow: 0 0 40px -3px #faea84;
}

.night > button {
  background-color: #252525;
  box-shadow: 0 -15px 0 5px #0c0c0c;
}

div.day {
  background-color: #fef9f1;
}

div.night {
  background-color: #111;
}
