.color0 {
  background-color: black;
  color: white;
}

.color1 {
  background-color: #351c75;
  color: white;
}

.color2 {
  background-color: #674ea7;
  color: white;
}

.color3 {
  background-color: #e06666;
  color: white;
}

.color4 {
  background-color: #f6b26b;
}

.color5 {
  background-color: yellow;
}
