#root {
  margin-bottom: auto;
  overflow-x: hidden;
}

nav {
  position: sticky;
  top: 0;
  width: 100vw;
}

nav ul {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2em;
}

#root div.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2em;
}

.card {
  padding: 2em;
}
