#navbar {
  border-bottom: 2px solid black;
  justify-content: flex-end;
  width: 100%;
  white-space: nowrap;
  align-items: center;
}

/*  links */

/*  button-link */
.button-link {
  color: white;
  background-color: #294464;
  border-radius: 0.25rem;
  border: 0;
}

#navbar .button-link {
  float: right;
  padding: 1rem;
  margin: 1rem 0;
}

/*  text-link */
#navbar .text-link {
  margin: 1.75rem;
  color: #a0a0a0;
}

/*  links end */

/* header-logo */
#header-logo {
  margin-right: auto;
}

/* ------------------standard------------------ */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.container {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

/* columns */

/* full */
.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

/* columns third */
.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(100% * (2 / 3));
}

/* columns quarter */
.column-one-quarter {
  flex-basis: 25%;
}
