/* ------------------standard------------------ */
body {
  font-family: Avenir, sans-serif;
  color: rgb(82, 83, 81);
}

img {
  width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

body > .container {
  padding-left: min(180px, 7%);
  padding-right: min(180px, 7%);
}

.row {
  display: flex;
}

/* columns */

/* full */
.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 50%;
}

/* columns third */
.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(100% * (2 / 3));
}

/* columns quarter */
.column-one-quarter {
  flex-basis: 25%;
}

.justify-center {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.justify-right {
  margin-left: auto;
  justify-content: right;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

/*  custom */

h2,
h3 {
  font-family: 'Tiempos Headline', serif;
  font-weight: 300;
  margin: 1rem 0;
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 3rem;
}

#navbar {
  border-bottom: 1px solid rgb(225, 227, 231);
  justify-content: flex-end;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero > .row {
  background-image: url('images/hero.jpg');
  color: white;
  height: 100%;
  background-size: cover;
  padding: 5rem;
  margin-top: 4.25rem;
  margin-bottom: 4.25rem;
}

.clinicians {
  text-align: center;
  background-color: #fafafa;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.clinicians li {
  margin: 2rem 0;
  font-size: 1.25rem;
}

.learn-more {
  padding-top: 2rem;
}

.footer {
  background-color: #525351;
  color: white;
  padding-top: 7rem;
  padding-bottom: 6rem;
}

.footer h4 {
  margin-top: 0;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.footer ul {
  margin-top: 0;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2.75rem;
}

a {
  color: white;
}

.footer img {
  height: 2rem;
  width: auto;
  margin-bottom: 2rem;
}

.footer p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#navbar-bottom a {
  color: #525351;
  padding-right: 2.5rem;
  font-size: 1.25rem;
}

#navbar-bottom .row {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  font-weight: bold;
}

/*  links */

/*  button-link */
.button-link {
  color: white;
  background-color: #294464;
  border-radius: 0.25rem;
  border: 0;
  padding: 1rem 3rem;
  font-size: 1.25rem;
}

.learn-more .button-link {
  margin-top: 1.5rem;
  float: right;
}

#navbar .button-link {
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

#navbar > div {
  height: ;
}

/*  text-link */
#navbar .text-link {
  margin: 0 1.75rem;
  color: #a0a0a0;
}

/*  image-link */
#navbar .image-link > * {
  height: 1.75rem;
}

/*  links end */

/* header-logo */
#header-logo {
  margin-right: auto;
}
